:root {
    --color-primary: burlywood;
    --color-secondary: rgb(250, 235, 215);
    --color-danger: #931515;
    --color-completed: mediumseagreen;
    --color-task-text: rgb(101, 100, 98);
    --color-done: rgb(4, 87, 4);
    --color-button-focus: #6c6868;
}

body {
    font-family: 'Lucida Sans', sans-serif;
}

main {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100dvh; 
}

main section {
    border-radius: 10px;
}

button:focus {
    outline: 2px solid var(--color-button-focus);
}

#section-header {
    background-color: var(--color-primary);
    padding: 12px;
}

#section-list {
    background-color: var(--color-secondary);
    padding: 12px;
    min-height: 50vh;
}

.ctn-new-task {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.ctn-new-task #todo-input {
    width: 100%;
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
}

.ctn-new-task #add-task-btn {
    padding: 6px 12px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.ctn-new-task #add-task-btn:hover{
    opacity: 0.8;
}

.ctn-list {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.ctn-list .completed .task-text {
    color: #111;
}

.ctn-list .task-text {
    font-size: 16px;
    line-height: 19px;
    color: var(--color-task-text);
}

.ctn-list ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.ctn-list ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    margin: 0;
    padding: 12px;
    border-bottom: 1px solid gray;
    transition: all 0.3s ease; /* Transitions */
    transform: translateY(0);
}

@media (max-width: 600px) {
    .ctn-list ul li {
        flex-direction: column;
        align-items: center;
    }
}

.task-enter { /* When creating a Task */
    opacity: 0;
    transform: translateY(-10px);

}

.task-enter-active {
    opacity: 1;
    transform: translateY(0);
}

.task-exit { /* When deleting a Task */
    opacity: 0;
    transform: translateY(10px);
}

.ctn-list ul li:last-child {
    border: none;
}

.ctn-list ul li.completed {
    background-color: var(--color-completed);
    border-radius: 3px;
}

.ctn-list ul li .complete-btn {
    cursor: pointer;
    background-color: var(--color-done);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
}

.ctn-list ul li .delete-btn {
    cursor: pointer;
    background-color: var(--color-danger);
    color: #fff;
    border: none;
    border-radius: 5px;;
    padding: 4px 8px;
}

.ctn-list ul li .complete-btn:hover, .ctn-list ul li .delete-btn:hover {
    opacity: 0.8;
}

.ctn-list li .actions {
    display: flex;
    gap: 3px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    padding: 12px;
    border-radius: 10px;
    gap: 10px;
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }
    
}

.footer ul {
    list-style: none;
    font-weight: 300;
    font-size: large;
    padding: 0;
    margin: 0;
}

.footer ul li img {
    width: 4rem;
}