@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/InterVar.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-primary: #0D3B66; /* Dark Blue */
    --color-primary-hover: #0b3257; /* Dark Blue */
    --color-button-text: #FFFFFF; /* White */
    --color-base-background: #F5F6FA; /* Light Gray */
    --color-title: #1E1E1E; /* Dark Gray */
    --color-text: #5A5A5A; /* Medium Gray */ 
    --color-secondary: rgb(250, 235, 215);
    --color-danger: #931515; /* Dark Red */
    --color-completed: mediumseagreen;
    --color-done: #2EC4B6; /* Teal */
    --color-button-focus: #6c6868;

    --ff-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

    --border-section: 1px solid var(--color-text);
}

body {
    font-family: var(--ff-sans);
    background-color: var(--color-base-background);
}

main {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 24px;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    /* min-height: 100dvh;  */
}

.app-title {
    color: var(--color-primary);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 32px 0;
}

@media (max-width: 600px) {
    .app-title {
        font-size: 28px;
    }
}

main section {
    border-radius: 10px;
}

button:focus {
    outline: 2px solid var(--color-button-focus);
}

#section-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: var(--border-section);
    background-color: var(--color-button-text);
}

main section {
    padding: 5px 32px;
}

@media (max-width: 600px) {
    main section {
        padding: 5px 24px;
    }
}

#section-list {
    background-color: var(--color-button-text);
    border: var(--border-section);
    /* min-height: 50vh; */
}

#section-list h2 {
    color: var(--color-title);
    font-size: 24px;
    font-weight: semi-bold;
    text-align: left;
}

@media (max-width: 600px) {
    #section-list h2 {
        font-size: 20px;
    }
}

.ctn-new-task {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* max-width: 500px; */
    margin: 0 auto;
}

.ctn-new-task #todo-input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #F5F6FA;
    border-radius: 6px;
}

.ctn-new-task #add-task-btn {
    font-size: 16px;
    font-weight: 600;
    height: 44px;
    width: 74px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-button-text);
    transition: background-color 0.3s ease;
}

.ctn-new-task #add-task-btn:hover{
    background-color: var(--color-primary-hover);
}

.ctn-list {
    width: 100%;
    /* max-width: 500px; */
    margin: 0 auto;
}

.ctn-list .completed .task-text {
    color: #111;
}

.ctn-list .task-text {
    font-size: 16px;
    line-height: 19px;
    color: var(--color-text);
}

.ctn-list ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.ctn-list ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    margin: 0;
    padding: 12px;
    border-bottom: 1px solid gray;
    transition: all 0.3s ease; /* Transitions */
    transform: translateY(0);
}

@media (max-width: 600px) {
    .ctn-list ul li {
        flex-direction: column;
        align-items: center;
    }
}

.task-enter { /* When creating a Task */
    opacity: 0;
    transform: translateY(-10px);

}

.task-enter-active {
    opacity: 1;
    transform: translateY(0);
}

.task-exit { /* When deleting a Task */
    opacity: 0;
    transform: translateY(10px);
}

.ctn-list ul li:last-child {
    border: none;
}

.ctn-list ul li.completed {
    background-color: var(--color-completed);
    border-radius: 3px;
}

.ctn-list ul li .complete-btn {
    cursor: pointer;
    background-color: var(--color-done);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
}

.ctn-list ul li .delete-btn {
    cursor: pointer;
    background-color: var(--color-danger);
    color: #fff;
    border: none;
    border-radius: 5px;;
    padding: 4px 8px;
}

.ctn-list ul li .complete-btn:hover, .ctn-list ul li .delete-btn:hover {
    opacity: 0.8;
}

.ctn-list li .actions {
    display: flex;
    gap: 3px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: var(--color-button-text);
    padding: 5px 32px;
    border-radius: 10px;
    gap: 10px;
    border: var(--border-section);
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }
    
}

.footer ul {
    list-style: none;
    font-weight: 300;
    font-size: large;
    padding: 0;
    margin: 0;
}

.footer ul li img {
    width: 4rem;
}